.bash_logout
.ssh
.ansible
.npm
.cpanm
local
.local
.profile
.rustup
.bashrc
.perl-cpm
.cache
.bundle
.cargo
.gitignore
.gitconfig
.config
.vim
.viminfo
pprof
.git
.bash_history
.wget-hsts
*.swp
pprof
